# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Envs
.venv/
venv/
env/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type checkers
.mypy_cache/
.pyright/

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Packaging
build/
dist/
*.egg-info/
